.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body, html {
  height: 100%;
  margin: 0;
}

.app-container {
  display: flex;
  height: 100vh;
  padding: 20px; 
}


.side-image {
  width: 240px; /* 너비를 200px로 설정 */
  height: 100%; /* 부모 요소의 높이를 차지 */
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 효과 추가 */
  border-radius: 10px; /* 둥근 모서리 */
  margin: 0 20px; /* 좌우 여백 추가 */
}



.main-content {
  flex: 3;
  flex-direction: column;
  overflow-y: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
}
